*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}
body{
    height: 100%;
    width: 100%;
}
img:hover{
    cursor: pointer;
}
nav{
    margin: 20px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 35px;
}
nav ul li{
    list-style: none;
    font-size: 60px;
    cursor: pointer;
}
.menu{
    width: 20px;
    display: none;
}

.home-option{
    padding: 5px 10px;
    background-color: rgb(100, 100, 224);
    border-radius: 15px;
}
.intro{
    max-width: 100vw;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.intro-line-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.intro-line-1 img{
    height: 200px;
    width: 200px;
}
.intro-line-1 h3{
    font-size: 40px;
}
.intro-line-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.intro-line-2 h1{
    font-size: 60px;
}
.intro-line-2 h2{
    font-size: 35px;
    color: rgb(197, 197, 89);
}
.projects{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects div h1{
    font-size: 100px;

}
.horizontal-devider{
    height: 20px;
    width: 340px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.contact{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.contact div h1{
    font-size: 60px;
}

.horizontal-devider-contact{
    height: 20px;
    width: 300px;
    background-color: blue;
    border-radius: 20px;
    margin-bottom: 20px;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
 .socials img{
    height: 300px;
    width: 300px;
 }

/* media queries */


@media screen and (max-width: 576px){
    nav ul li {
        display: none;
    }
    .menu{
        display: block;
    }
    .menu img{
        display: block;
        justify-content: left;
        height: 50px;
        width: 50px;

    }
    .intro-right img{
        width: 55vw;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    .intro-line-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }
    .intro-line-1 h3{
        font-size: 30px;
    }
    .intro-line-2 h1{
        font-size: 40px;
    }
    
    .intro-line-2 h2{
        font-size: 25px;
        text-align: center;
    }
    .projects div h1{
        font-size: 100px;
    }
    .horizontal-devider{
        height: 10px;
        width: 125px;
        background-color: blue;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .project-list{
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
    }    
    .project img{
        width: 55vw;
    }
    .projects div h1{
        font-size: 35px;
    }
    .contact div h1{
        font-size: 35px;
    }
    .horizontal-devider-contact{
        height: 10px;
        width: 180px;
        background-color: blue;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .socials img{
        height: 30vh;
        width: 30vw;
    }

}